doctype html
html(lang="en")

    head
        include includes/head.pug

    body
        header
            include includes/header.pug

        nav
            include includes/nav.pug


        aside.left
            include includes/left_aside.pug
        aside.right
            include includes/right_aside.pug
        main
            article
                h1 Welcome
                section
                    h2 Why did I make this website?
        footer
            include includes/footer.pug