//- Pug file to create the side menu on the DLC website.
ol
    li
        a(href="index.html") Introduction
    li
        a(href="styles.html") Styles
    //li
    //    a(href="#") #
    //li
    //    a(href="#") #
    //
    //    ol
    //        li
    //            a(href="#") #
